body{
    background-image: url("../images/background.png");
    text-align: center;
    background-size: auto;
}

div{
    text-align: center;
}

#character1-select, #character2-select,
#character3-select, #character4-select{
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #444752;
    text-align: center;
    margin: 1%;
    padding: 0;
    
}

#main-select{
    background-color: rgba(169,197,157,0.5);
    border: 2px solid #78D662;
    text-align: center;
    margin: 1%;
    padding: 0;
    
}

#enemy1-select, #enemy2-select,
#enemy3-select, #enemy4-select{
    background-color: rgba(197,204,217,0.5);
    border: 2px solid #4D37B1;
    text-align: center;
    margin: 1%;
    padding: 0;
}

#defender-select{
    background-color: rgba(230,176,162,0.5);
    border: 2px solid #B01812;
    text-align: center;
    margin: 1%;
    padding: 0;
}

.hidden{
    display: none;
}

.show{
    visibility: visible;
}

h1, h3{
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Press Start 2P', cursive; */
    color: #E3E3E3;
    text-shadow: -2px 0 1px #B01812, 0 2px 1px #B01812, 2px 0 1px #B01812, 0 -2px 1px #B01812;
}

p{
    font-family: 'Exo 2', sans-serif;
    color: #444752;
}
