body{
    background-image: url("../images/background.png");
    text-align: center;
}

div{
    text-align: center;
}

#character1-select, #character2-select,
#character3-select, #character4-select{
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #4F4E4A;
    text-align: center;
    margin: 1%;
    padding: 0;
    
}

#main-select{
    background-color: rgba(255,255,255,0.5);
    border: 2px solid green;
    text-align: center;
    margin: 1%;
    padding: 0;
    
}

#enemy1-select, #enemy2-select,
#enemy3-select, #enemy4-select{
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #4F4E4A;
    text-align: center;
    margin: 1%;
    padding: 0;
}

#defender-select{
    background-color: rgba(255,255,255,0.5);
    border: 2px solid maroon;
    text-align: center;
    margin: 1%;
    padding: 0;
}

.hidden{
    display: none;
}

.show{
    visibility: visible;
}

h1, h3{
    font-family: 'Permanent Marker', cursive;
    color: #B01812;
    text-shadow: -2px 0 1px #4D37B1, 0 2px 1px #4D37B1, 2px 0 1px #4D37B1, 0 -2px 1px #4D37B1;
}